fontes
.rye-regular {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}
 #topo{
    scroll-margin-top: 60px;
  }
  #produtos{
    scroll-margin-top: 120px;
  }
  #meio{
    scroll-margin-top: 125px;
  }
  #contato{
    scroll-margin-top: 80px;
  }
/* titulo */
header{
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background: linear-gradient(to bottom right, #0d0d0d, #1a1a1a);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
#telaDashboard{
    background-image: radial-gradient(circle ,  #bbb0b041 1%, transparent), url(imgs/fundogotico.jfif);
    background-position: center;
    min-height: 100vh;
    padding: 0;
}
/* menu */
.menufixo {
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, #2b0000 100%);
    display: flex;
    justify-content: center;
    align-items:center;   
    padding: 10px 0; 
    z-index: 1000;
}

.menufixo a {
    font-size: 22px;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    transition: transform 0.9s ease; 
    transition: background-color 0.9s ease;
}
.menufixo a:hover {
    color: black;
    background-color: #ffffff;
    border-radius: 7px;    
    transform: scale(1.1);
    padding: 5px 0px;     
}
.menufixo-dashboard {
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: left;
    align-items:center;   
    padding: 10px 0; 
    z-index: 1000;
}
.menufixo-dashboard a {
    font-size: 22px;
    color: white;
    text-decoration: none;;
    margin: 0 50px;
    border-radius: 7px;
    transition: transform 0.9s ease; 
    transition: background-color 0.9s ease;
}
.menufixo-dashboard a:hover {
    color: black;
    background-color: #ffffff;
    border-radius: 7px;   
    padding: 5px 0px;      
    transform: scale(1.1);
}
#logo{
    width: 90px;
    margin-left: 35px;
    transition: transform 0.5s ease;
}
#logo:hover{
    transform: scale(1.1);
}
#ornamento {
  width: 200px;
  display: block;
  margin: 0 auto;
  transition: transform 0.5s ease;
}
#ornamento:hover {
  transform: scale(1.1);
}
#produtos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.produtos_carrinho {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
}
.card {
    font-family: "Rye", serif;
    width: calc(33.33% - 20px);
    max-height: 520px; 
    max-width: 360px;
    background: linear-gradient(to bottom, #000000 0%, #5c0505);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.4s ease;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.card:hover{
    transform: scale(1.03);
}
.card-dashboard{
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    width: 20%;
    height: 65%;
    max-height: 450px;
    margin: 15px; 
    background: linear-gradient(to bottom, #000000 50%, #350000);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    margin-top: 200px;
    transition: transform 0.5s ease;
}
.card-dashboard:hover{
    transform: scale(1.03);
}
.card-dashboard a{
    text-decoration: none;
}
.card-dashboard img {
    margin-top: 50px;
    width: 80px;
    height: auto;
}
.card img {
    width: 100%;
    height: 220px; 
    object-fit: cover;
    border-radius: 10px;
}
.card h1 {
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease;
}
.card-dashboard h1 {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    padding: 15px ;
    transition: transform 0.2s ease;
}
.card h1:hover {
    transform: scale(1.1);
}
.card p {
    font-size: 14px;
    padding: 10px 15px;
    text-align: center;
    color: white;
}
.card .button {
    background-color: #000000;
    margin: 12px auto;
    padding: 8px 12px;
    font-size: 14px;
    width: 120px;
    color:white;
    align-items: center;
    transition: transform 0.2s ease;
}
.card a {
    text-decoration: none;
}
.card .button:hover{
    transform: scale(1.2);
}
.card-dashboard .button {
    background-color: #550000;
    width: 150px;
    color:white;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease;
}
.card-dashboard .button:hover{
    transform: scale(1.2);
}
.icones{
    
    filter: invert(100%);
}
.boxtexto {
    background-image: radial-gradient(circle ,  #00000081 1%, transparent), url(imgs/Capa.jfif);
    background-position: 0;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 18px;
}
.boxtexto h1 {
    font-weight: 400;
    font-size: 40px;  
    text-align: center; 
    color: white; 
}
.boxtexto p {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    line-height: 1.7;
    color: white;
}
.button {
    color:#ffffff;
    text-decoration: none;
    width: 150px;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    border-style: none;
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color:rgb(155, 3, 3);
    border-radius: 10px;
    transition: transform 0.2s ease;
}
.button:hover {
    font-family: "Rye", serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #470000;
    background-color: #ffffff; 
    transform: scale(1.1);
}
.meio {
    display: block;
    text-align: center;
    margin: 20px;
    color: rgb(255, 255, 255);
}
.meio h1 {
    margin-top: 50px;
    font-weight: 400;
    margin-left: 500px;
    color: rgb(255, 255, 255);
}
.meio p{
    font-size: 25px;
    font-weight: 400;
    margin: 20px auto;
    text-align: justify;
    line-height: 1.6;
    color: rgb(255, 255, 255);
}
.imgeesq {
    display: inline-block; 
    width: 450px; 
    vertical-align: middle; 
}
.texto {
    display: inline-block; 
    width: 50%;
    vertical-align: middle; 
    text-align: justify; 
    padding: 10px;
}
h1, h2 {
    font-family: "Rye", serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-align: center;
}

p {
    font-family: "Rye", serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(255, 255, 255);
}
.conteiner-avaliacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.avaliacao h3,h4,h5 {
    font-family: "Rye", serif;
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 15px;
}
.avaliacao h4,h5 {
    font-family: "Rye", serif;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 15px;
}
.avaliacao h5 {
    font-family: "Rye", serif;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #000000;
    margin-bottom: 15px;
}
.avaliacao p {
    font-size: 22px;
    max-width: 700px;
    margin: 50 auto 30px;
    text-align: center;
    color: #000000;
}
.avaliacao .filter-form {
    display: flex; 
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}
.avaliacao select {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.card-avaliacao {
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 8px #0000001a;
    text-align: center;
    transition: transform 0.5s ease;
}
.card-avaliacao:hover{
    transform: scale(1.03);
}

.stars {
    color: rgb(0, 0, 0);
    font-size: 18px;
}
#contato {
    font-family: "Rye", serif;
    font-weight: 700;
    font-style: normal;
    width: 50%;
    margin:0 auto;
    margin-bottom: 1%;
    border-radius: 1%;
    background: linear-gradient(to bottom, #000000 0%, #5c0505); 
    padding: 40px 20px;
    text-align: center;
    color:#000000
}
#contato h1 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 10px;
    color:#ffffff
}
#contato p {
    font-family: "Rye", serif;
    font-weight:400 ;
    color:#ffffff;
    margin-bottom: 20px;
}
.formulario {
    font-family: "Rye", serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    max-width: 500px;
    margin: auto;
}
.formulario input,
.formulario textarea {
    background-color: rgba(255, 255, 255, 0.767);
    font-family: "Rye", serif;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
}
.formulario textarea {
    min-height: 100px;
    font-family: "Rye", serif;
}
.formulario button {
    background-color:#000000ea;
    font-size: 16px;
    color:#ffffff;
    border: none;
    cursor: pointer;
}
.formulario button:hover {
    font-size: 16px;
    background-color:#a10000;
    font-weight: 400;
    color:#ffffff;
}
.rodape {
    background: linear-gradient(to bottom, #000000 0%, #5c0505); 
    color: white;
    padding: 40px 20px 20px 20px;
    font-family: "Rye", serif;
    font-weight:400 ;
    margin-bottom: -30px;
    
}
.rodape-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin: auto;
    max-width: 1200px;
}
.rodape-coluna {
    flex: 1 1 200px;
    min-width: 200px;
}
.rodape-coluna h4 {
    font-family: "Rye", serif;
    font-weight:400 ;
    font-size: 22px;
    margin-bottom: 10px;
    color:#ffffff;
    text-align: left;
}
.rodape-coluna p, .rodape-coluna ul li {
    color: white;
    font-family: "Rye", serif;
    font-weight:400 ;
    font-size: 16px;
    line-height: 1.5;
}
.rodape-coluna ul {
    list-style: none;
    padding: 0;
}
.rodape-coluna ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: transform 0.5s ease; 
    transition: background-color 0.2s ease;
}
.rodape-coluna ul li a:hover {
    color: rgb(255, 255, 255);
    background-color:#b30202; 
    border-radius: 7px;    
    transform: scale(1.1);
    border-radius: 4%;
}
.redes-sociais {
    margin-top: 20px;
}
.redes-sociais a {
    display: inline-block;
    padding: 10px;
    background-color:#ffffff;
    border-radius: 8px;
    margin: 0 5px;
    transition: transform 0.2s ease;
}
.redes-sociais a:hover {
    background-color:#b30202; 
    transform: scale(1.1);
}
.redes-sociais img {
    width: 35px;
    height: 35px;
}
.rodape-direitos {
    border-top: 1px solid #444;
    margin-top: 30px;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}
.rodape-direitos p{
    font-family: "Rye", serif;
    font-weight:400 ;
    color: #ffffff;
}
/*POP-UPS*/
#fundoescuro-login{
    font-family: "Rye", serif;
    font-weight:400 ;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#fundoescuro-cadastro {
    font-family: "Rye", serif;
    font-weight:400;
    position:fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
 }
#fundoescuro-logout{
    font-family: "Rye", serif;
    font-weight:400;
    position:fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
 }
#formulario-login p{
    text-align: center;
    color: rgb(252, 88, 88);
    padding-top:10px;
    margin: 0%;
  } 
#formulario-cadastro p, h2{
    color: white;
    padding-top:10px;
    margin: 0%;
}
.form-popup {
    font-family: "Rye", serif;
    font-weight:400 ;
    display: none;
    position: fixed;    
    top: 15%;
    right: 0%;
    z-index: 999;
}
.form-container {
    font-size: 20px;
    color:white;
    max-width: 450px;
    height:550px;
    border-radius: 5%;
    padding: 10px;
    background: linear-gradient(to bottom, #0f0f0f 0%, #5c0505); 
    transition: transform 0.3s ease;
}
#formulario-logout .form-container {
    width: 375px;
    height: 325px; 
}
.form-container p, a{
    color: white;
    text-align: center;
    font-size: 14px;
    margin: auto;
    font-weight: 400;
   
}
.form-container:hover{
    transform: scale(1.09); 
}
.form-container h1{
    text-align: center;
    color: white;
    font-family: "Rye", serif;
    font-weight:400 ;
}
.form-container input[type=text], 
.form-container input[type=password] {
    font-family: "Rye", serif;
    font-weight:400 ;
    width: 90%;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.form-container input[type=text]:focus, 
.form-container input[type=password]:focus {
    background-color: #ddd;
    font-family: "Rye", serif;
    font-weight:400 ;
    outline: none;
}
.form-container .btn {
    font-size: 18px;
    font-family: "Rye", serif;
    font-weight:700 ;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.form-container .cancel {
    background-color:#000000;
    border-radius: 10px;
    font-weight: 400;
    color: white;
    transition: transform 0.5s ease;
}
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
    transform: scale(1.03);
}
